.contenedor {
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--verde);
  border-radius: 0 0 12px 12px;
  box-shadow: 3px 3px 4px rgb(0,0,0,0.2);

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .titulo {
      color: var(--negro);
    }
  }

  .menus {
    display: flex;
    gap: 50px;
    .menu {
      text-decoration: none;
      color: var(--negro);
      font-size: 18px;
    }
    .menu:hover {
      color: var(--rosa);
    }
  }
}