<mat-card class="contenedor">
  <mat-card-header class="cabecera">
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <img class="imagen" mat-card-image [src]="product.image" alt="Photo of a Shiba Inu">
  <div class="cuerpo">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>
